@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply overflow-x-hidden bg-white;
  }
}

@layer components {
  .container {
    @apply max-w-full;
  }
  .two-col {
    @apply lg:grid lg:grid-cols-2 lg:gap-8;
  }
  .col-right {
    @apply md:ml-auto md:w-1/2;
  }
}

@layer utilities {
  .blend-invert {
    @apply mix-blend-difference invert;
  }
  .external-link {
    @apply relative after:pl-1 after:align-super after:text-[.5em] after:content-['↗️'] hover:underline;
  }
}
